<div class="sidebar">
    <div class="logo-container">
      <img src="assets/logo.png" alt="ENICARTHAGE Logo" class="logo" />
    </div>
  
    <ul class="nav-list">
      <li routerLink="gestion-projets" routerLinkActive="active">
        <i-lucide name="calendar-days"></i-lucide>
        <span>Gestion des projets</span>
      </li>
      <li routerLink="suivi-projets" routerLinkActive="active">
        <i-lucide name="briefcase"></i-lucide>
        <span>liste des binomes</span>
      </li>
      <li routerLink="rapports" routerLinkActive="active">
        <i-lucide name="bar-chart-4"></i-lucide>
        <span>Les documents associés</span>
      </li>
      <li routerLink="rapports" routerLinkActive="active">
        <i-lucide name="graduation-cap"></i-lucide>
        <span>Planning des soutenances</span>
      </li>
    </ul>
  
    <div class="logout">
      <i-lucide name="log-out"></i-lucide>
      <button>Logout</button>
    </div>
  </div>
  