<div class="sidebar">
    <div class="logo-container">
      <img src="assets/logo.png" alt="ENICARTHAGE Logo" class="logo" />
    </div>
  
    <ul class="nav-list">
      <li routerLink="listeProjets" routerLinkActive="active">
        <i-lucide name="calendar-days"></i-lucide>
        <span>liste des projets</span>
      </li>
      <li routerLink="choix" routerLinkActive="active">
        <i-lucide name="briefcase"></i-lucide>
        <span>liste des choix</span>
      </li>
      <li routerLink="documents" routerLinkActive="active">
        <i-lucide name="bar-chart-4"></i-lucide>
        <span>Les documents associés</span>
      </li>
      
      <li routerLink="espace" routerLinkActive="active">
        <i-lucide name="graduation-cap"></i-lucide>
        <span>espace d'echange</span>
      </li>
      <li routerLink="affichage" routerLinkActive="active">
        <i-lucide name="bar-chart-4"></i-lucide>
        <span>espace d'affichage</span>
      </li>

    </ul>
  
    <div class="logout">
      <i-lucide name="log-out"></i-lucide>
      <button>Logout</button>
    </div>
  </div>
  